@model Xm.Trial.Models.BlogViewModel

@foreach (var post in Model.Posts)
{
    var detailsUrl = Url.Action("Details", new RouteValueDictionary { ["id"] = post.Id });

    <div id="post_@post.Id" class="blog-post">
            <h2 class="blog-post-title"><a href="@detailsUrl">@post.Title</a></h2>
        <hr />
            @Html.Partial("PostMeta", post)

        <a href="@detailsUrl">
            <figure>
                <figcaption>@post.PictureCaption</figcaption>
                <img src="@post.Picture" alt="@post.Title" class="post-image">
            </figure>
        </a>

        <p>@post.Snippet</p>

    </div>
}
