@model Xm.Trial.Models.PostViewModel

@{
    ViewBag.Title = Model.Title;
}
<div class="container">
        <div class="blog-main">
            <header>
                <h2 class="blog-post-title">@Model.Title</h2>
                <hr />
            @Html.Partial("PostMeta")
        </header>

        <figure>
            <figcaption>@Model.PictureCaption</figcaption>
            <img src="@Model.Picture" alt="@Model.Title" class="post-image">
        </figure>

        @Html.Raw(Model.Text)

        <footer>
            <p>
                <button data-action="like" data-post-id="@Model.Id" class="btn-right like-btn">@Model.Likes</button>
            </p>

            @if (Model.Tags?.Any() == true)
            {
                <blockquote>
                    <strong>Tags</strong>
                    <small>
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="@Url.Action("Index", "Blog", new RouteValueDictionary { ["tag"] = tag.Id })" class="tag">@tag.Name</a>
                        }
                    </small>
                </blockquote>
            }
        </footer>
    </div>
</div>